* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto; 
    margin-top: 80px;
}

picture {
    display: flex;
    justify-content: center;
}

.logo {
    width: 115px;
}

h1{
    text-align: center;
    margin-top: 15px;
    font-size: 44px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 600;
}

h3 {
    text-align: center;
    margin-top: 35px;  
    font-size: 22px; 
}

form {
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
}

#name, #email {
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: black;
    border-radius: 7px;
}

.confirmation {
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
}

.button {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(82, 125, 206);
    border: rgb(82, 125, 206);
    border-radius: 7px;
}